
.pikachu .nose {
  position: absolute;
  top: 28px;
  width: 0;
  height: 0;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 12px;
  border-style: solid;
  border-radius: 50%;
  border-color: #000 transparent transparent transparent;

}

.pikachu .eye {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid #000;
  background: #2e2e2e;
  border-radius: 50%;
}

.pikachu .eye.left {
  right: 50%;
  margin-right: 75px;
}

.pikachu .eye.right {
  left: 50%;
  margin-left: 75px;
}

.pikachu .eye::before {
  position: absolute;
  left: 5px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  animation: blink 3s infinite step-start 0s;
}

@keyframes blink {
  0%,100%{opacity: 0;}
  15%,95%{opacity: 1}
}

/*
.pikachu .eye.left::before {
  right: 5px;
}
.pikachu .eye.right::before {
  left: 5px;
}
.pikachu .eye::after {
  position: absolute;
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.pikachu .eye.left::after{
  transform: rotate(25deg);
  left: 6px;
  bottom: 0;
}
.pikachu .eye.right::after{
  transform: rotate(-25deg);
  right: 6px;
  bottom: 0;
}
*/

.pikachu .face {
  width: 55px;
  height: 55px;
  background: #fc0d1c;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  border: 3px solid #2e2e2e;
}

.pikachu .face.left {
  right: 50%;
  margin-right: 100px;

}

.pikachu .face.right {
  left: 50%;
  margin-left: 100px;

}

.pikachu .upperlip {
  position: absolute;
  height: 20px;
  width: 70px;
  border: 3px solid #000;
  top: 58px;
  border-top: none;
  background: #FFE600;
}

.pikachu .upperlip.left {
  border-bottom-left-radius: 36px 18px;
  border-right: none;
  transform: rotate(-20deg);
  right: 50%;
}

.pikachu .upperlip.right {
  border-bottom-right-radius: 40px 20px;
  border-left: none;
  transform: rotate(20deg);
  left: 50%;
}

.pikachu .lowerlip-wrapper {
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  height: 140px;
  width: 140px;
  bottom: -24px;

  .lowerlip {
    position: absolute;
    bottom: 0;
    width: 140px;
    height: 1000px;
    background: #990513;
    border-radius: 140px / 760px;
    border: 3px solid #000;
    overflow: hidden;
  }
  .lowerlip:after {
    background: #fc4a62;
    content: '';
    position: absolute;
    bottom: 0;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    left: 50%;
    margin-left: -57px;

  }
}
